@mixin card-detail {
  &.card-detail {
    width: 320px;
    justify-content: initial;

    @media only screen and (min-width: 1024px) {
      width: 600px;
    }

    .user-photo,
    .user-info {
      @media only screen and (min-width: 1024px) {
        height: 200px;
      }
    }

    .user-photo {
      text-align: center;
      width: 100%;

      @media only screen and (min-width: 1024px) {
        margin-right: 20px;
        width: 170px;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #3e6c4c;
        margin-top: 10px;
        display: block;
        font-weight: 600;
      }

      img {
        width: 170px;
        margin: 0;
      }
    }

    .user-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      @media only screen and (min-width: 1024px) {
        text-align: left;
        width: calc(100% - 200px);
      }

      .info {
        margin-top: 30px;
      }

      p {
        margin: 0 0 10px 0;
        text-transform: uppercase;
        color: #3e6c4c;
        font-weight: 600;
      }

      .actions {
        margin-top: 40px;

        @media only screen and (min-width: 1024px) {
          display: flex;
        }

        button {
          margin-bottom: 10px;
          text-transform: uppercase;
          font-weight: 500;
          width: 100%;

          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
