@mixin user-content {
  #user-content {
    width: 100%;
    min-height: 30px;
    max-height: 230px;
    overflow-y: scroll;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        color: #3e6c4c;
        padding: 10px 15px;

        &:nth-child(even) {
          background: #d2eedf;
        }

        a {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}
