<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <section class="home-section" id="home">
      <div class="content">
        <nav>
          <h3>Jorge Roberto</h3>

          <ul>
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#about">Sobre</a>
            </li>
            <li>
              <a href="#repositories-app">Desafio</a>
            </li>
          </ul>
        </nav>
        <section class="title">
          <h2>Desenvolvedor Front end</h2>
          <h4>Desafio Qconcursos.com</h4>
        </section>
        <section class="social-contacts">
          <a href="">
            <img src="/assets/icons/facebook.svg" />
          </a>
          <a href="">
            <img src="/assets/icons/linkedin.svg" />
          </a>
          <a href="">
            <img src="/assets/icons/github.svg" />
          </a>
        </section>
      </div>
      <img src="/assets/bg.jpg" alt="" />
    </section>
    <section class="about-section" id="about">
      <div class="content">
        <h4>Sobre</h4>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          sodales sagittis. Sed porttitor laoreet nisi. Curabitur tincidunt
          lorem ex. Sed dictum, neque eget auctor sagittis, augue mi malesuada
          mi, eu finibus tellus ante in nunc. Praesent risus est, eleifend vel
          congue sed, faucibus nec magna. Donec auctor dui aliquet purus
          convallis condimentum. In euismod nunc vitae lacus maximus, facilisis
          sodales turpis gravida. Fusce quis egestas sem, ac condimentum massa.
          Duis vel nunc et nisi pharetra gravida. Aliquam a erat magna. Sed
          vitae tellus et mi auctor lacinia. Nulla nec viverra magna, vel
          fringilla ex.
        </p>
        <p>
          Quisque lacinia enim nibh, id laoreet enim rutrum bibendum. Sed
          suscipit risus sit amet semper suscipit. Sed orci felis, cursus quis
          nulla nec, interdum egestas leo. Nunc quis nisi in felis laoreet
          porttitor. Aliquam ullamcorper dolor nibh, vel auctor velit porttitor
          eu. Vestibulum ut tortor vel ipsum molestie suscipit vel quis nibh. Ut
          tincidunt elit sed quam feugiat, eu malesuada ante vehicula. Curabitur
          nec ligula in mi maximus faucibus. Proin et dictum nunc. Maecenas
          elementum magna id pretium condimentum. Mauris blandit malesuada
          finibus. Donec ullamcorper erat nec gravida lacinia.
        </p>
        <p>
          Sed consectetur urna sit amet arcu auctor imperdiet. Proin rhoncus
          quis dolor sed iaculis. Quisque sed elit tempus, congue nisl non,
          porta justo. Ut tristique sagittis risus, at sodales arcu. Sed auctor
          varius vehicula. Maecenas blandit sem tellus, nec volutpat eros
          convallis ut. Ut rutrum, velit interdum pulvinar ullamcorper, nunc
          velit ultrices odio, non gravida lacus metus nec nisl. Nullam est
          quam, fringilla in luctus in, fermentum eu mi. Nulla vitae dapibus ex.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae
          tempus lacus. Sed non molestie mi. Vestibulum a mi ex. Nulla gravida
          tincidunt suscipit. Nunc aliquam erat malesuada accumsan mattis.
          Quisque dictum nisi mattis pulvinar lobortis.
        </p>
        <p>
          Aenean eleifend nunc eu eleifend eleifend. Sed in tincidunt ligula.
          Quisque bibendum ipsum nec augue commodo vestibulum. Quisque dapibus
          eros sed metus placerat, in maximus urna molestie. Nulla rhoncus
          congue purus, vitae sodales lectus feugiat vel. Suspendisse vitae
          vulputate felis. Sed felis dui, posuere non commodo non, scelerisque
          tincidunt ex. Aliquam tincidunt, mi a malesuada accumsan, velit enim
          aliquet mauris, vel imperdiet felis sapien quis lectus. Suspendisse
          consectetur tincidunt ante, et volutpat mi accumsan at. Vivamus
          interdum consequat dui, et malesuada est tristique quis. Pellentesque
          suscipit nunc mi, eu maximus mauris eleifend in. Sed consequat erat
          eget enim accumsan suscipit. Vivamus ac arcu ac lectus maximus
          lacinia.
        </p>
        <p>
          Pellentesque malesuada quam massa, vel efficitur dui imperdiet a. Sed
          mattis libero justo, a accumsan odio interdum in. Cras vitae eros eget
          augue lobortis iaculis. Maecenas orci mi, placerat ut pretium a,
          finibus nec eros. Sed nisl diam, efficitur quis dapibus a, placerat
          vel enim. Maecenas semper ligula sit amet leo ultrices, quis laoreet
          mi tristique. Sed sed lorem cursus, viverra tortor eget, rhoncus nisl.
          Integer libero risus, dignissim vel magna et, eleifend venenatis nisi.
          Aliquam erat volutpat. Nulla tortor velit, gravida sed iaculis non,
          faucibus non urna. Suspendisse potenti. Vestibulum non maximus nunc.
          Maecenas massa quam, sagittis a elit non, consectetur volutpat orci.
          Fusce sed justo nisl. Vivamus est diam, egestas vel laoreet vitae,
          vestibulum eget justo. Fusce eleifend augue vitae sapien lobortis
          mollis.
        </p>
      </div>
    </section>
    <section class="repositories-section" id="repositories-app"></section>
  </body>
</html>
