.about-section {
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .content {
    width: 1280px;
    color: #333;
    padding: 0 40px 60px 40px;

    @media only screen and (min-width: 1024px) {
      width: 1024px;
    }

    h4 {
      text-align: center;
      font-size: 40px;
    }

    p {
      line-height: 1.4;
      text-align: justify;
    }
  }
}
