@import "./home/nav.scss";
@import "./home/title.scss";
@import "./home/social-contacts.scss";

.home-section {
  background: #999;
  height: 100%;
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    @include title;
    @include nav;
    @include social-contacts;
  }
}
