@import "./repositories/card-detail.scss";
@import "./repositories/user-content.scss";

.repositories-section {
  background: #eaf6ed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  @media only screen and (min-width: 1024px) {
    height: 600px;
  }

  .card {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    min-width: 150px;
    min-height: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 25px;

    img.avatar {
      border-radius: 50%;
      margin-bottom: 30px;
      width: 90px;
    }

    input[type="text"] {
      margin-bottom: 30px;
    }

    @include card-detail;
    @include user-content;

    #pagination,
    #change-user {
      width: 100%;
      margin-top: 15px;
      text-align: center;
    }
  }
}
