button {
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #9dd1b1;
  border: 2px solid #9dd1b1;
  border-radius: 5px;
  background: transparent;

  &:disabled {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
}
