@mixin nav {
  nav {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1280px;

    h3 {
      text-align: center;
      width: 100%;

      @media only screen and (min-width: 1024px) {
        width: auto;
      }
    }

    ul {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media only screen and (min-width: 1024px) {
        width: 300px;
      }

      li {
        padding: 10px 15px;
        display: inline-block;

        a {
          color: white;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
