@mixin title {
  .title {
    width: 100%;
    text-align: center;
    color: white;

    h2,
    h4 {
      font-weight: bold;
      letter-spacing: 5px;
      margin: 0;
    }

    h2 {
      margin-bottom: 15px;

      @media only screen and (min-width: 1200px) {
        font-size: 60px;
      }
    }

    h4 {
      @media only screen and (min-width: 1200px) {
        font-size: 40px;
      }
    }
  }
}
